**/__pycache__/**

# environment file
config.env
.env
!sample_config.env

# Build folder
dist/

# Runtime data
.cache/
.heroku/
.profile.d/
.venv
chache/
downloads/
vendor/

# file
.DS_Store
*.pyc
*.log
*.session
*.session-journal

# IDE specific files
.idea/
.vscode/
*.sw*
