# Required Configuration
BOT_TOKEN=""
OWNER_ID="7492470603"
DB_URI="postgresql://user:pwd@host/db"


# Optional: Command Prefix (default: "/")
# Can be multiple prefixes separated by comma
COMMAND_PREFIX=/

# Optional: Telegram Bot API Configuration
# For local Bot API server
TELEGRAM_BASE_URL=

COLORLOG=true
DOWNLOAD_PATH=/downloads
